.picture{
    float:left;
}
.description{
    margin-left:275px;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.date{
    
}

.row {
  display: block;
  /* width: 100%; */
}
.container {
}
.screenshot {
    float: left;
    padding: 25px;
}
.description {
    float: right;
}
